.modal.off {
  display: none;
}

.modal.on {
  display: block;
  background: #323232;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: calc(9 / 10);
}

.blue {
  background-color: #4a4ae8;
  color: white;
  font-family: sans-serif;
  font-size: large;
  padding: 5px 20px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 1px 1px 2px #323232;
}

.modal-content {
  background: white;
  width: 30%;
  border: 1px solid;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 150px;
  padding: 25px 10px;
  border-radius: 5px;
}

h2 {
  font-family: sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  font-style: bold;
}

button.close {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  margin: auto;
  margin-top: 30px;
  background-color: #eb5d5d;
  color: white;
  border-style: none;
  border-radius: 2px;
  padding: 5px 15px;
  box-shadow: 1px 1px 2px #323232;
}
