.container {
  display: flex;
  width: 100%;
  height: 600px;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dormant {
  font-family: inconsolata, monospace;
  white-space: pre;
}

.next {
  font-family: inconsolata, monospace;
  border-bottom: 1px solid;
  white-space: pre;
}

.correct {
  font-family: inconsolata, monospace;
  color: #18cd1b;
  white-space: pre;
}

.wrong {
  font-family: inconsolata, monospace;
  color: red;
  border-bottom: 2px solid;
}
