.container {
  max-width: 90%;
  margin: auto;
}

.column-half {
  width: 50%;
}

.row {
  display: flex;
}

.footer {
  padding: 25px 50px;
  background-color: #fafafa;
}

.links {
  padding-left: 15px;
  padding-right: 15px;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.backgroundgray {
  background-color: #505150;
}

.whitetext {
  color: white;
}
